body {
	margin: 0;
}

.l-header {
	/* border-bottom: solid 1px #000; */
	box-shadow: 0 9px 2px -5px rgba(230,230,230,.6);
	width: 100%;
}

.l-header header {
	align-items: center;
	/* background: #999; */
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1000px;
}

.l-header-global ul {
	display: flex;
	font-family: 'Oswald', sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}

.l-header-global ul li {
	margin: 0;
	padding: 0 30px;
}

.l-header-items {
	display: flex;
	font-family: 'Oswald', sans-serif;
	justify-content: flex-end;
}

.l-header-items nav {
	margin-left: 20px;
}

.l-header-item-login,
.l-header-item-favorite {
	align-items: center;
	display: flex;
}

.l-header-item-login::before {
	content: url(images/login.png);
	margin-right: 4px;
}

.l-header-item-favorite::before {
	content: url(images/favorite.png);
	margin-right: 4px;
}

.f-search {
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
	border-radius: 5px;
	padding: 5px;
	width: 240px;
}

.menu-category {
	position: relative;
}

.menu-category div {
	background: #000;
	display: none;
	left: 0;
	opacity: .3;
	position: absolute;
	top: 70px;
}

.l-slider {
	margin: 0 auto 30px;
	width: 1000px;
}

.bx-wrapper {
	border: none;
	box-shadow: none;
}

.l-news {
	border: solid 1px #000;
	box-sizing: border-box;
	margin: 0 auto 30px;
	padding: 15px;
	width: 1000px;	
}

.l-news ol {
	font-size: 90%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.l-items {
	margin: 0 auto;
	width: 1000px;
}

.l-items h2 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.l-items ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.l-items ul li{
	font-size: 90%;
	margin: 0 0 20px;
}

.l-items figure {
	margin: 0;
	padding: 0;
}

.l-items figcaption span {
	display: block;
	text-align: center;
}

.nav-view-all {
	margin: 30px auto 80px;
	text-align: center;
}

.nav-view-all a {
	border: solid 1px #000;
	box-sizing: border-box;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	width: 260px;
}

hr {
	margin: 0 auto 80px;
	width: 1000px;
}

.l-footer {
	background: #5f5f5f;
	width: 100%;
}

footer {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	padding: 30px 0 0;
	width: 1000px;
}


footer span {
	border-left: solid 6px #fff;
	display: block;
	font-family: 'Oswald', sans-serif;
	margin: 0 0 20px;
	padding: 0 0 0 10px;
}

footer ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

footer address {
	display: block;
	padding: 80px 0 30px;
	text-align: center;
	width: 100%;
}