body {
	margin: 0;
}

.l-header {
	/* border-bottom: solid 1px #000; */
	box-shadow: 0 9px 2px -5px rgba(230,230,230,.6);
	width: 100%;
}

.l-header header {
	/* background: #999; */
	margin: 0 auto;
	width: 1000px;
}