body {
	margin: 0;
}

.l-header {
	/* border-bottom: solid 1px #000; */
	box-shadow: 0 9px 2px -5px rgba(230,230,230,.6);
	width: 100%;
}

.l-header header {
	align-items: center;
	/* background: #999; */
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1000px;
}

.l-header-global ul {
	display: flex;
	font-family: 'Oswald', sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}

.l-header-global ul li {
	margin: 0;
	padding: 0 30px;
}

.l-header-items {
	display: flex;
	font-family: 'Oswald', sans-serif;
	justify-content: flex-end;
}

.l-header-items nav {
	margin-left: 20px;
}

.l-header-item-login,
.l-header-item-favorite {
	align-items: center;
	display: flex;
}

.l-header-item-login::before {
	content: url(images/login.png);
	margin-right: 4px;
}

.l-header-item-favorite::before {
	content: url(images/favorite.png);
	margin-right: 4px;
}

.f-search {
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
	border-radius: 5px;
	padding: 5px;
	width: 240px;
}

.menu-category {
	position: relative;
}

.menu-category div {
	background: #000;
	display: none;
	left: 0;
	opacity: .3;
	position: absolute;
	top: 70px;
}

.l-slider {
	margin: 0 auto 30px;
	width: 1000px;
}

.bx-wrapper {
	border: none;
	box-shadow: none;
}

.l-news {
	border: solid 1px #000;
	box-sizing: border-box;
	margin: 0 auto 30px;
	padding: 15px;
	width: 1000px;	
}

.l-news ol {
	font-size: 90%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.l-items {
	margin: 0 auto;
	width: 1000px;
}

.l-items h2 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.l-items ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.l-items ul li{
	font-size: 90%;
	margin: 0 0 20px;
}

.l-items figure {
	margin: 0;
	padding: 0;
}

.l-items figcaption span {
	display: block;
	text-align: center;
}

.nav-view-all {
	margin: 30px auto 80px;
	text-align: center;
}

.nav-view-all a {
	border: solid 1px #000;
	box-sizing: border-box;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	width: 260px;
}

hr {
	margin: 0 auto 80px;
	width: 1000px;
}

.l-footer {
	background: #5f5f5f;
	width: 100%;
}

footer {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	padding: 30px 0 0;
	width: 1000px;
}


footer span {
	border-left: solid 6px #fff;
	display: block;
	font-family: 'Oswald', sans-serif;
	margin: 0 0 20px;
	padding: 0 0 0 10px;
}

footer ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

footer address {
	display: block;
	padding: 80px 0 30px;
	text-align: center;
	width: 100%;
}

.l-breadcrumb-list {
	margin: 0 auto;
	width: 1000px;
}

.l-breadcrumb-list ol {
	display: flex;
	list-style: none;
	margin: 30px 0 40px;
	padding: 0;
}

.l-breadcrumb-list ol li:not(:last-child)::after {
	content: ">";
	margin: 0 10px;
}

.l-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1000px;
}

.l-wrapper section {
	width: 200px;
}

.l-wrapper main {
	width: 770px;
}

.nav-brand {
	margin: 0 0 30px;
}

.nav-brand span {
	display: block;
	font-size: 24px;
	font-weight: bold;
	padding: 0 0 20px;
}

.nav-brand ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-brand li {
	border-bottom: solid 1px #d3d3d3;
	box-sizing: border-box;
	padding: 25px 0;
}

.nav-brand li:first-child {
	border-top: solid 1px #d3d3d3;
}

.nav-category span {
	display: block;
	font-size: 24px;
	font-weight: bold;
	padding: 0 0 20px;
}

.nav-category ul {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.nav-category li {
	border-top: solid 1px #d3d3d3;
	box-sizing: border-box;
	padding: 25px 0;
	position: relative;
}

.nav-category li::after {
	content: ">";
	position: absolute;
	right: 0;
}

.banner-category figure {
	margin: 0 0 20px;
}

.l-category-main section {
	width: 100%;
}

.category-top-banner {
	margin: 0 0 30px;
}

.l-category-main figure {
	margin: 0;
}

.category-discription {
	margin: 0 0 65px;
}

.category-discription h1 {
	margin: 0 0 20px;
}

.category-discription p {
	font-size: 12px;
	line-height: 24px;
	margin: 0;
}

.cartegory-list-count {
	font-size: 14px;
	margin: 0 0 30px;
}

.l-category-main ul {
	border-bottom: solid 1px #eee;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0 0 30px;
	padding: 0;
}

.l-category-main ul li {
	margin: 0 0 30px;
	width: 240px;
}

.l-category-main ul li span {
	display: block;
	text-align: center;
}

.category-list-navi {
	display: flex;
	justify-content: space-between;
}

.category-list-pagination ol {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.category-list-pagination li {
	height: 30px;
	margin: 0 0 0 10px;
	width: 30px
}

.category-list-pagination a {
	background: #f1f1f1;
	color: #666;
	display: block;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
}

.category-list-pagination a:hover {
	background: #5f5f5f;
	color: #fff;
}

.category-list-pagination .selected a {
	background: #5f5f5f;
	color: #fff;
}
