body {
	background-color: #f5f5f5;
}

header, main {
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 20px 0;
	text-align: center;
}

.image {
	margin-bottom: 20px;
}

.image img {
	width: 100%;
}

.contents {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contents section {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 10px 20px 30px;
	width: 48%;
}

.contents section h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0;
	text-align: center;
}

.contents section p {
	margin: 20px 0;
}

.contents section p:last-of-type {
	margin-bottom: 0;
}

.contents section ul {
	list-style: disc;
	padding-left: 20px;
}

.contents section li:not(:last-child) {
	padding-bottom: 10px;
}

.btn_area {
	margin-top: 40px;
	width: 100%;
}

.btn_area ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.btn_area li {
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	padding: 20px;
	text-align: center;
	width: 220px;
}

.btn_area .red {
	background-color: #f00;
}

.btn_area .green {
	background-color: #0f0;
}

.btn_area .blue {
	background-color: #00f;
}

.btn_area .reset {
	background-color: #f5f5f5;
}

@media screen and (max-width: 960px) {
	.contents {
		flex-wrap: wrap;
	}

	.contents section {
		width: 98%;
		margin: 0 auto;
	}

	.contents section:not(:last-of-type) {
		margin-bottom: 20px;
	}
}