@charset "utf-8";

/* 基本レイアウト ここから↓ */

/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */

/* トップページ ここまで↑ */

/* 「当病院について」ページ ここから↓ */

/* 「当病院について」ページ ここまで↑ */

/* 「診療科のご案内」ページ ここから↓ */

/* 「診療科のご案内」ページ ここまで↑ */

/* 「施設紹介」ページ ここから↓ */

/* 「施設紹介」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */

/* 「お問い合わせ」ページ ここまで↑ */
