@charset "utf-8";
@import url(common.css);

/* 基本レイアウト ここから↓ */
body {
	line-height: 1.4em;
}
header,
nav,
#level,
#contents,
footer {
	width: 830px;
	margin: 0 auto;
}
nav ul {
	list-style-type: none;
	margin-right: -10px;
	padding-left: 0;
	overflow: hidden;
}
nav ul li {
	width: 200px;
	margin-right: 10px;
	float: left;
}
nav ul li a {
	display: block;
	padding-top: 70px;
	height: 0;
	overflow: hidden;
}
nav ul li#nav_policy a {
	background-image: url(../images/global_nav1.png);
}
nav ul li#nav_service a {
	background-image: url(../images/global_nav2.png);
}
nav ul li#nav_facility a {
	background-image: url(../images/global_nav3.png);
}
nav ul li#nav_inquiry a {
	background-image: url(../images/global_nav4.png);
}
#policy #nav_policy a,
#service #nav_service a,
#facility #nav_facility a,
#inquiry #nav_inquiry a,
nav ul li a:hover {
	background-position: 0 -70px;
}
#main {
	width: 570px;
	float: left;
}
#main h1 {
	margin: 0 0 30px 0;
	padding: 30px 0;
	background-image: url(../images/back_h1_bottom.png),
		url(../images/back_h1_top.png);
	background-repeat: no-repeat,
		no-repeat;
	background-position: left bottom,
		left top;
	color: #ffffff;
	font-size: 180%;
	text-align: center;
}
#sub {
	width: 220px;
	float: right;
}
footer #pagetop {
	float: right;
}
footer #info_group {
	clear: both;
}
/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */
#topics ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#topics ul li {
	border-bottom: 1px dotted #333;
	margin-top: 20px;
	padding: 0 10px 20px 160px;
	text-indent: -160px;
}
/* トップページ ここまで↑ */

/* 「当病院について」ページ ここから↓ */
.h2_group {
	margin-top: 20px;
	overflow: hidden;
}
.h2_group:last-child {
	margin-bottom: 10px;
}
/* 「当病院について」ページ ここまで↑ */

/* 「診療科のご案内」ページ ここから↓ */
table thead tr {
	background-color: #f3bf31;
	color: #333333;
}
table tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}
/* 「診療科のご案内」ページ ここまで↑ */

/* 「施設紹介」ページ ここから↓ */
.facility_group figure {
	width: 170px;
	margin: 0 18px 25px 0;
	float: left;
}
.facility_group figure:nth-child(3n) {
	margin-right: 0;
}
/* 「施設紹介」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */

/* 「お問い合わせ」ページ ここまで↑ */
