@charset "utf-8";

header, nav, #slider, #slider ul li img, #contents, footer {
	width: 450px;
}
nav ul {
	margin: 0;
}
#slider {
	height: 193px;
	margin-bottom: 15px;
	padding-top: 10px;
}
#main {
	width: auto;
	float: none;
}
nav ul li {
	margin: 0;
}
nav ul li#nav_policy,
nav ul li#nav_service,
nav ul li#nav_facility,
nav ul li#nav_inquiry {
	width: 222px;
	border: 2px solid #f2f2f2;
}
nav ul li#nav_service, nav ul li#nav_inquiry {
	border-left: none;
}
nav ul li#nav_facility, nav ul li#nav_inquiry {
	border-top: none;
}
nav ul li#nav_policy a,
nav ul li#nav_service a,
nav ul li#nav_facility a,
nav ul li#nav_inquiry a {
	height: auto;
	padding-top: 7px;
	padding-bottom: 7px;
	background-image: none;
	color: #000000;
	text-align: center;
	text-decoration: none;
}
nav ul li#nav_policy a:hover,
nav ul li#nav_service a:hover,
nav ul li#nav_facility a:hover,
nav ul li#nav_inquiry a:hover {
	background-color: #36a0e0;
	color: #ffffff;
}
#topics h2 {
	margin-bottom: 0;
}
#topics ul li {
	margin-top: 0;
	padding: 12px 0 12px 0;
	text-indent: 0;
}
#topics ul li time {
	display: block;
	margin-bottom: 10px;
	width: auto;
}
#sub {
	margin-left: 10px;
	float: none;
}
#sub aside {
	margin-bottom: 10px;
}
footer #info_group {
	padding: 8px 0 0 0;
}
