<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <header>
      <h1><%=title %></h1>
    </header>
    <div>
      <table>
        <% for (let key in data) { %>
          <%- include("data", {key: key, val: data[key]})  %>
        <% } %>
      </table>
    </div>
  </body>
</html>
