<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>タイトル</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1><%=title %></h1>
    </header>
    <main>
      <form method="" action="">
        <input type="text" name="">
        <input type="submit" value="送信">
      </form>
      <p><a href="<%=link.href %>"><%=link.text %></a></p>
      <p><%=contents %></p>
    </main>
  </body>
</html>
