@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.4;
}
p {
	margin: 0 0 20px 0;
}
img {
	border: 0;
}
a {
	color: #fa474d;
}
a:hover {
	color: #fc9698;
}
header h1 a {
	display: inline-block;
}
header h1 a img {
	vertical-align: bottom;
}
#path ol {
	list-style-type: none;
	padding: 0;
}
#path ol li {
	display: inline;
	margin-right: 5px;
}
#path ol li a {
	padding-right: 15px;
	background-image: url(../images/path_arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#contents {
	overflow: hidden;
}
.bnr_area {
	margin-bottom: 30px;
}
.bnr_area dt img {
	margin-bottom: 6px;
	vertical-align: bottom;
}
.bnr_area a {
	text-decoration: none;
}
.bnr_area dl, .bnr_area dt, .bnr_area dd, .bnr_area p {
	margin: 0;
}
.bnr_area p img {
	vertical-align:text-bottom;
}
#pagetop {
	margin-bottom: 0;
	float: right;
}
#pagetop a {
	display: block;
	min-height: 16px;
	padding: 6px 0 6px 28px;
	background-image: url(../images/bg_arrow.png);
	background-repeat: no-repeat;
	background-position: left center;
}
address {
	color: #ffffff;
	padding: 10px;
	clear: both;
	background-image: url(../images/bg_footer.png);
	background-repeat: repeat-x;
	font-style: normal;
	text-align: center;
}
#copyright { 
	text-align: center;
}
#copyright small {
	font-size: 100%;
}
#main h2 {
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 17px;
	padding: 15px 0 15px 10px;
	background-image: url(../images/bg_h2_head.png), url(../images/bg_h2_bottom.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left top, left bottom;
	font-size: 140%;
}
#graphic {
	width: 860px;
	height: 300px;
	margin: 0 auto 30px auto;
}
#graphic ul {
	list-style: none;
	padding-left: 0;
}
#graphic ul li {
	display: none;
	position: absolute;
}
#graphic ul li.now {
	display: block;
}
#news ul li time {
	display: inline-block;
	width: 160px;
	font-weight: bold;
	text-indent: 0;
}
.about_area p:last-child {
	margin-bottom: 0;
}
.photo_right {
	margin: 0 0 10px 20px;
	float: right;
}
table {
	width: 100%;
	border-collapse: collapse;
}
table caption {
	overflow: hidden;
	text-align: left;
}
table caption p {
	margin-bottom: 30px;
}
table th, table td {
	padding: 15px;
	border: 1px solid #775644;
}
table tr th:first-child {
	width: 30%;
}
table tr td:nth-child(2), table tr td:nth-child(3) {
	text-align: center;
}
.animals_area {
	overflow: hidden;
}
.animals_area:first-of-type {
	margin-top: 30px;
}
.animals_area figure img {
	float: left;
}
.animals_area figure figcaption {
	width: 150px;
	float: right;
}
form p {
	margin-bottom: 30px;
}
form p:nth-last-child(2) {
	margin-bottom: 7px;
}
form p:last-child {
	margin-bottom: 0;
}
input, textarea {
	margin-top: 7px;
}
textarea {
	width: 420px;
	height: 115px;
	overflow-y: scroll;
}
