@charset "utf-8";

/* 基本レイアウト ここから↓ */

/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */

/* トップページ ここまで↑ */

/* 「展覧会について」ページ ここから↓ */

/* 「展覧会について」ページ ここまで↑ */

/* 「スケジュール」ページ ここから↓ */

/* 「スケジュール」ページ ここまで↑ */

/* 「作品紹介」ページ ここから↓ */

/* 「作品紹介」ページ ここまで↑ */

/* 「前売り券申し込み」ページ ここから↓ */

/* 「前売り券申し込み」ページ ここまで↑ */
