@charset "utf-8";

body {
	line-height: 150%;
}

header,
nav,
.topickpath,
.contents,
footer {
	margin-left: auto;
	margin-right: auto;
	width: 840px;
}

nav {
	margin-bottom: 15px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding-left: 0;
	overflow: hidden;
}

nav ul li {
	width: 210px;
}

nav ul li a {
	display: block;
	height: 0;
	padding-top: 64px;
}

nav ul li.nav_introduction a {
	background-image: url(../images/btn_navigation1.png);
}

nav ul li.nav_schedule a {
	background-image: url(../images/btn_navigation2.png);
}

nav ul li.nav_gallery a {
	background-image: url(../images/btn_navigation3.png);
}

nav ul li.nav_tickets a {
	background-image: url(../images/btn_navigation4.png);
}

nav ul li a:hover {
	background-position: 0 -64px;
}

.contents {
	display: flex;
	justify-content: space-between;
}

main {
	width: 610px;
}

.sub {
	width: 200px;
}

figure {
	margin: 0;
}

main h1 {
	background-image: url(../images/h1_top.png), url(../images/h1_bottom.png);
	background-repeat: no-repeat, no-repeat;
	background-position: center top, center bottom;
	font-size: 175%;
	padding: 35px 20px;
	margin: 0 0 30px 0;
	text-align: center;
}

.topics ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.topics ul li{
	border-bottom: 1px dotted #666;
	margin-top: 1.5em;
	padding: 0 0 1.5em 9.3em;
	text-indent: -9.3em;
}

.sec_fild{
	overflow: hidden;
	margin-bottom: 30px;
}

.sec_fild:last-child{
	margin-bottom: 0;
}

table thead tr {
	background-color: #333;
	color: #fff;
}

table tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

.pic_field {
	display: flex;
	justify-content: space-between;
}

.pic_field figure {
	width: 290px;
}
